@import '../../../styles/colors.css';


.pokemon__type {
	display: flex;
	flex-direction: row;
    align-items: center;
	justify-content: center;
	flex-grow: 1;
    
    border: 2px solid black;
    border-radius: 5px;
    background-color: --type;
    color: white;
    
    padding: 10px;
    margin: 10px;

    height: 50px;
    width: 100px;
}

.pokemon__type--normal {
    background-color: var(--type-normal);
}

.pokemon__type--fighting {
    background-color: var(--type-fighting);
}

.pokemon__type--flying {
    background-color: var(--type-flying);
}

.pokemon__type--poison {
    background-color: var(--type-poison);
}

.pokemon__type--ground {
    background-color: var(--type-ground);
}

.pokemon__type--rock {
    background-color: var(--type-rock);
}

.pokemon__type--bug {
    background-color: var(--type-bug);
}

.pokemon__type--ghost {
    background-color: var(--type-ghost);
}

.pokemon__type--steel {
    background-color: var(--type-steel);
}

.pokemon__type--fire {
    background-color: var(--type-fire);
}

.pokemon__type--water {
    background-color: var(--type-water);
}

.pokemon__type--grass {
    background-color: var(--type-grass);
}

.pokemon__type--electric {
    background-color: var(--type-electric);
}

.pokemon__type--psychic {
    background-color: var(--type-psychic);
}

.pokemon__type--ice {
    background-color: var(--type-ice);
}

.pokemon__type--dragon {
    background-color: var(--type-dragon);
}

.pokemon__type--dark {
    background-color: var(--type-dark);
}

.pokemon__type--fairy {
    background-color: var(--type-fairy);
}